.app {
  height: 100%;
  overflow: auto;
  text-align: center;
  max-width: 520px;
  margin: 0 auto;
  background-color: #ffffff;
}

.app-header {
  background-color: #262cac;
  height: 3rem;
  color: white;
}

.menu{
  display: flex;
  justify-content: space-around;
}
.menu-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 3rem;
  font-weight: bold;
  color: #efefef;
  background-color: #262cac;;
}

.feed{
  padding: 1rem;
}

.feed-item{
  min-height: 6rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-bottom: 1rem;
  border-radius: 3px;
}